div( ng-controller="MathCtrl")
    div Math.js Test
    input( type="text", ng-model="mathInput" )
    .btn.btn-default(ng-click="parseMath(mathInput)" ) parse
    div( mathjaxBind="mathInput" )

    .container-fluid
        .row
            .col-xs-6
                nvd3-line-chart(
                    data="chartData"
                    id="exampleId"
                    xAxisTickFormat="xAxisFormatFun()"
                    yAxisTickFormat="yAxisFormatFun()"
                    width="500"
                    height="400"
                    showXAxis="true"
                    showYAxis="true"
                    interactive="true"
                    tooltips="true"
                    tooltipcontent="toolTipContentFunction()"
                    objectEquality="true")
                    svg.light-border
            .col-xs-6
                div
                    h5 vars
                    div.container-fluid(ng-repeat="(key,obj) in myMath.scope")
                        span.col-xs-1 {{key}}
                        input( ng-model='obj', ng-change="updateMathScope(this)" )
                        p
                            input( type="range", min="-2", max="2", step="0.01", ng-model='obj', ng-change="updateMathScope(this)")



